{% extends 'flatpages/default.html' %}
{% load i18n %}

{% load censor %}

{% block title %}
News
{% endblock title %}


{% block content %}
<!--<h1>{{ new }}</h1>-->
        <table>
            <tr>
            <td>
                <h2>{% trans "Заголовок статьи" %}</h2>
            </td>
            <td>
                 <h2>{% trans "Категория" %}</h2>
            </td>
            <td>
                <h2>{% trans "Дата публикации" %}</h2>
            </td>
            <td>
                <h2>{% trans "Статья" %}</h2>
            </td>
            <td>
                <h2>{% trans "Рейтинг" %}</h2>
            </td>
            </tr>
             <td>
                {{ new.postTitle|   censor|one }}
            </td>

            <td>
                {{ new.categoryType }}
            </td>
            <td>
                {{ new.pubData|date:'d M Y, H:m' }}
            </td>
            <td>
                {{ new.postText|censor|one }}
            </td>
            <td>
                <h4>{{ new.postRating  }}</h4>
            </td>
        </table>

{% endblock content %}