{% extends 'flatpages/default.html' %} 
{% load i18n %}

{% block title %}
News
{% endblock title %}
{% load censor %}
{% block content %}
 <h3>{% trans "Название публикации" %}</h3>
    <p>{{  post.postTitle|one }}</p>

<h3>{% trans "Статья:" %}</h3>
<p>{{ post.postText|one }}</p>
<h3>{% trans "Дата публикации:" %}</h3>
<p>{{ post.pubData }}</p>
    <p>Автор: <b>{{ post.PostAuthor }}</b></p>



{% if request.user.is_authenticated %}
        <p>
            {% trans "Вы можете подписаться на новости категории:"%}
            {% for category in post.postCategory.all %}
                {% if not category in user_category %}
                    <a href="{% url 'subscribe' category.pk %}"><br>{{ category.categoryname }}</a>
                {% else %}
                    <br>{{ category.categoryname }}
                {% endif %}
            {% endfor %}

          <h6>{% trans "Ваши текущие подписки (если вы хотите отписаться, то просто нажмите на название подписки)" %}:</h6>
             {% for category in post.postCategory.all %}
             {% if category in user_category %}
            <a href="{% url 'subscribe' category.pk %}"><br>{{ category.categoryname }}</a>
            {% endif %}
            {% endfor %}
</p>
{% endif %}
{% endblock content %}